<!DOCTYPE html>
<html>

<head>
    <title>Guess the number!</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<!-- To let angular know it needs to process the view HTML, the body tag must be updated -->

<body ng-app="app">

    <!-- The ng-app attribute tells Angular to treat everything defined inside the HTML tag (with ng-app attribute) as 
---- an angular app and process it accordingly. The <body> tag just mentioned becomes the root of the application. 
----
---- The "app" value of the ng-app attribute tells Angular to search for a module named app and load it.
---->

    <div class="container" ng-controller="GuessTheNumberController">
        <h2>Guess the number!</h2>
        <p class="well lead">Guess the computer generated number between 1 and 1000.</p>
        <label>Your guess:</label>
        <input type="number" ng-model="guess">
        <button ng-click="verifyGuess()" class="btn btn-primary btn-sm">Verify</button>
        <button ng-click="initalizeGame()" class="btn btn-warning btn-sm">Restart</button>

        <p>
            <p ng-show="deviation<0" class="alert alert-warning">Your guess is too high.</p>
            <p ng-show="deviation>0" class="alert alert-warning">Your guess is too low.</p>
            <p ng-show="deviation===0" class="alert alert-success">You got it! Congratulations.</p>
        </p>
        <p class="text-info">No of guesses: <span class="badge">{{noOfTries}}</span></p>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.js"></script>
    <script>
        /*
         **  
         **  GuessTheNumberController function sets up some model properties and exposes two methods: verifyGuess and initializeGame
         **  $scope is the object
         **  .deviation; .noOfTries; .original; .guess are properties
         **  $scope has been passed as a parameter to the controller function
         **  
         **
         **
         */

        angular.module('app', [])
        .controller('GuessTheNumberController', GuessTheNumberController);

        function GuessTheNumberController($scope) {
            $scope.verifyGuess = function () { //method
                $scope.deviation = $scope.original - $scope.guess;
                $scope.noOfTries = $scope.noOfTries + 1;
            }

            $scope.initalizeGame = function () { //method
                $scope.noOfTries = 0;
                $scope.original = Math.floor((Math.random() * 1000) + 1); // Math.floor - Rounds to next largest integer & Math.random - Generates random integer between 0 (inclusive) and 1 (exclusive)
                $scope.guess = null;
                $scope.deviation = null;
            }

            $scope.initalizeGame(); //preceding controller to setup game for first time
        }
    </script>
</body>

</html>